@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :focus-visible {
        @apply outline-2 outline-offset-2 outline-accent;
        outline-style: solid;
    }

    a:focus-visible,
    button:focus-visible,
    [role="button"]:focus-visible,
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible,
    summary:focus-visible {
        @apply outline-2 outline-offset-2 outline-accent ring-0;
        outline-style: solid;
    }

    :focus:not(:focus-visible) {
        outline: none;
    }
}
